.FT {
	position: absolute;
	width: 556px;
	height: 175px;
	left: 352px;
	top: 321px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	font-size: 115px;
	line-height: 118.5%;
	display: flex;
	align-items: center;
	color: #663128;
}
body{width:100%;}












.box {
	width: 350px;
	height: 150px;
	border-radius: 0%;
	border: 1px solid #000;
	margin: auto;
	text-align: center;
}